<mat-toolbar color="primary">
  <form class="card-form" (ngSubmit)="addItem()">
    <mat-form-field class="card-input" appearance="fill">
      <mat-label>Enter title</mat-label>
      <input matInput [formControl]="inputControl" [errorStateMatcher]="ErrorStateMatcher">
    </mat-form-field>
    <button mat-raised-button color="warn">Add item</button>
  </form>
</mat-toolbar>

<mat-selection-list [multiple]="false" class="card-list">
  <app-info [info]="this.items"></app-info>

  <app-items *ngFor="let item of items; index as i" [item]="item" [items]="this.items" [index]="i"></app-items>
</mat-selection-list>

